extends ../../layouts/default.pug

block main 
    if (product.title)
        h1(class="mb-4") #{product.title}


    if (product.thumbnail)
        div(class="mb-4") 
            img(
                src=product.thumbnail
                style="width= 100px"
            )

    p   
        span Trạng thái: 
        span 
            <b>#{product.status == "active" ? "Hoạt động" : "Dừng hoạt động"}</b>

    if (product.position)
        div(class="mb-4") Vị trí: <b>#{product.position}</b>

    if (product.description)
        div(class="mb-4") !{product.description}

    a(
        href=`${prefixAdmin}/posts-category/edit/${product.id}`
        class="btn btn-warning"       
    ) Chỉnh sửa

    script(src="/admin/js/product.js") 