include ../mixins/sub-menu.pug

header.header 
    .container 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/") 
                        img(src="/images/logo1.png", alt="logo")

            .col-5
                form(
                    action="/search"
                    method="GET"
                )
                    div(class="form-group d-flex mb-0")
                        input(
                            type="text"
                            placeholder="Nhập từ khóa"
                            name="keyword"
                            class="form-control"
                            value=keyword
                        )
                        button(
                            class="btn btn-primary"
                            type="submit"
                        ) Tìm
            .col-4 
                .inner-menu 
                    ul 
                        li 
                            a(href="/") Trang chủ   
                        li(class="sub-menu")
                            -const pathProduct = "/products"
                            a(href=pathProduct) Sản phẩm
                                +sub-menu(layoutProductsCategory, pathProduct)
                        li(class="sub-menu")
                            -const pathPost = "/posts"
                            a(href=pathPost) Bài viết
                                +sub-menu(layoutPostsCategory, pathPost)
                        li 
                            a(href="/cart") Giỏ hàng (#{miniCart ? miniCart.totalQuantity : 0})