extends ../../layouts/default.pug

block main 
    if (account.fullName)
        div(class="mb-4") Họ tên: <b>#{account.fullName}</b>
    if (account.email)
        div(class="mb-4") Email: <b>#{account.email}</b>
    if (account.phone)
        div(class="mb-4") Số điện thoại: <b>#{account.phone}</b>
    if (account.avatar)
        div(class="mb-4") 
            img(
                src=account.avatar
                style="width= 100px, height=auto"
            )
    if (account.status)
        div(class="mb-4") 
            span Trạng thái: 
            if (account.status === "active")
                span(class="badge badge-success") Hoạt động
            else 
                span(class="badge badge-danger") Dừng hoạt động
    
    a(
        href=`${prefixAdmin}/accounts/edit/${account.id}`
        class="btn btn-warning"       
    ) Chỉnh sửa

    script(src="/admin/js/product.js") 